body {
  margin: 0;
  display: flex;
  font-family: $font-family-main;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0;
}

#__nuxt {
  display: flex;
  flex: 1;
}

.flex-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
