$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-plus: "\e905";
$icon-minus: "\e906";
$icon-cancel: "\e907";
$icon-double-arrow-top: "\e904";
$icon-church: "\e900";
$icon-altar: "\e901";
$icon-rings: "\e902";
$icon-love-fireworks: "\e903";
