$color-primary: #577567;
$color-primary-hover: #41584d;
$color-secondary: #cda080;
$color-secondary-hover: #bf845a;
$color-white: #ffffff;
$color-light-gray: #e6e6e6;
$color-description: #363036;
$color-input-disabled: #c3bbc3;
$color-invalid: #ff6666;
$color-black: #000000;
