$color-white: #ffffff;
$color-light-gray: #e6e6e6;
$color-description: #363036;
$color-dark-teal: #55879f;
$color-input-disabled: #c3bbc3;
$color-dark-green: #577567;
$color-dark-green-hover: #41584d;
$color-tan: #cda080;
$color-red: #ff0000;
$color-black: #000000;
