.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 30px;
  z-index: 10;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: $color-white;
  cursor: pointer;
  transition: opacity .3s ease, visibility .3s ease;

  @include target-mq(sm) {
    right: 30px;
  }

  &--is-visible {
    opacity: 1;
    visibility: visible;
  }

  i {
    color: $color-dark-green;
    font-size: 22px;
  }
}
