.form {
  background: url('assets/img/timelines-mobile-background.jpg') 0 0 no-repeat;
  background-size: cover;

  @include target-mq(xxl) {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 15px 30px;

    @include target-mq(sm) {
      padding-right: 100px;
      padding-left: 100px;
    }

    @include target-mq(md) {
      padding-right: 200px;
      padding-left: 200px;
    }

    @include target-mq(lg) {
      padding-right: 300px;
      padding-left: 300px;
    }

    @include target-mq(mlg) {
      padding-right: 400px;
      padding-left: 400px;
    }

    @include target-mq(xxl) {
      flex: 0 600px;
      padding-right: 0;
      padding-left: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  &__element {
    flex: 1;
    padding-bottom: 30px;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: center;
    color: $color-primary;

    @include target-mq(xxl) {
      margin-bottom: 30px;
    }
  }

  &__text {
    margin-bottom: 5px;
    font-family: $font-family-roboto-slab;
    color: $color-secondary;
  }

  &__required {
    position: relative;
    top: -3px;
    left: -2px;
    font-size: 12px;
    color: $color-invalid;
  }

  &__input {
    position: relative;

    &-field {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: solid 1px $color-light-gray;
      font-size: 16px;
      color: $color-black;
      transition: all .3s;

      &::placeholder {
        font-size: 13px;
      }

      &:hover:not(:disabled) {
        box-shadow: 0 0 5pt .5pt $color-light-gray;
      }

      &:focus:not(:disabled) {
        box-shadow: 0 0 5pt 2pt $color-light-gray;
        outline-width: 0;
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }

      &:disabled {
        cursor: not-allowed;
      }

      &:not(textarea) {
        height: 40px;
      }

      &--is-error {
        border-color: $color-invalid;
        box-shadow: unset;
      }

      .form__guests-names & {
        flex: 1;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  &__validation-message {
    position: absolute;
    bottom: -17px;
    font-family: $font-family-roboto-slab;
    font-size: 12px;
    color: $color-invalid;
  }

  &__coming {

    .form__input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__guests-number {
    position: relative;

    select {
      background-color: $color-white;
      width: 50%;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      transition: all .3s;
    }
  }

  &__description {
    display: flex;
    margin-top: 5px;
    font-family: $font-family-roboto-slab;
    font-size: 13px;
    color: $color-description;
  }

  &__text-area {
    resize: none;
    transition: all .3s;
  }

  &__flex-container {
    position: relative;
    display: flex;
    word-break: keep-all;
  }

  &__guests-names {

    input {

      &.is-hidden {
        display: none;
      }
    }
  }

  &__guests-names-list {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: $color-white;
    transition: border-color .3s;

    &--is-error {
      border-color: $color-invalid;
    }

    .form__description {
      justify-content: center;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
    }
  }

  &__add-guest-button,
  &__submit-button,
  &__reset-form-button {
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: $color-secondary;
    color: $color-white;
    cursor: pointer;
    transition: all .3s;

    &:hover:not(:disabled) {
      background-color: $color-secondary-hover;
    }

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &__submit-button {
    padding: 0 15px;
    height: 50px;
    font-weight: 700;
    font-family: $font-family-roboto-slab;
    text-transform: uppercase;

    span {
      position: relative;
    }

    img {
      position: absolute;
      top: 50%;
      right: -45px;
      transform: translate(0, -50%);
      width: 40px;
      height: 40px;
    }
  }

  &__add-guest-button {
    flex: 0 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    transition: opacity .3s;
  }

  &__info,
  &__loading,
  &__successful-message {
    font-family: $font-family-roboto-slab;
  }

  &__info {
    margin-bottom: 0;
  }

  &__successful-message {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-black, .8);
    text-align: center;

    &-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 100%;
      margin: 0 15px;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 700;
      background-color: $color-white;

      @include target-mq(sm) {
        max-width: 500px;
      }
    }
  }

  &__reset-form-button {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
  }

  #google-form-response-iframe {
    display: none;
  }
}
