.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
  font-family: $font-family-secondary;
  text-align: center;
  background: url('assets/img/header-mobile-background.png');
  background-size: 667px auto;

  @include target-mq(sm) {
    background: url('assets/img/header-background.png') top center;
    background-size: cover;
  }

  @include target-mq(xxl) {
    justify-content: center;
    background-size: cover;
  }

  @media (max-height: 700px) and (orientation: landscape) {
    min-height: 700px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 15px;

    @include target-mq(sm) {
      padding-right: 30px;
      padding-left: 30px;
    }

    @include target-mq(xxl) {
      align-items: center;
      max-width: 1300px;
      padding-top: 200px;
    }
  }

  &__headline {
    display: flex;
    flex-direction: column;
    font-size: 75px;
    line-height: 1;

    @include target-mq(sm) {
      font-size: 85px;
    }

    @include target-mq(md) {
      flex-direction: row;
      justify-content: center;
      font-size: 95px;
    }

    @include target-mq(xxl) {
      flex-direction: row;
      font-size: 105px;
    }

    span {
      margin-bottom: 15px;

      @include target-mq(md) {
        margin: 0 30px;
      }

      @include target-mq(xxl) {
        margin: 0 30px;
      }
    }
  }

  &__quote {
    margin: 30px 0;
    font-family: $font-family-primary;
    font-size: 20px;
    color: $color-secondary;

    @include target-mq(sm) {
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 22px;
    }

    @include target-mq(md) {
      font-size: 24px;
    }

    @include target-mq(xxl) {
      font-size: 26px;
    }
  }

  &__date {
    font-size: 75px;
    line-height: 1;

    @include target-mq(sm) {
      font-size: 85px;
    }

    @include target-mq(md) {
      font-size: 95px;
    }

    @include target-mq(xxl) {
      font-size: 105px;
    }
  }
}
