.main {
  display: flex;
  justify-content: center;
  background: url('../../assets/img/main-background.jpg') 0 0 no-repeat;
  background-size: cover;

  &__wrapper {
    min-height: 560px;
    display: flex;
    align-items: center;
    flex: 0 1200px;
  }
}
