.story {
  background: url('assets/img/story-background.jpg') center no-repeat;
  background-size: cover;

  @include target-mq(sm) {
    //background: url('assets/img/timelines-background.jpg') 0 0 no-repeat;
    //background-size: cover;
  }

  @include target-mq(xxl) {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding: 30px 15px;

    @include target-mq(sm) {
      gap: 0 15px;
    }

    @include target-mq(md) {
      column-gap: 15px;
    }

    @include target-mq(mlg) {
      justify-content: center;
      align-items: center;
      column-gap: 30px;
      padding: 30px;
      min-height: 560px;
    }

    @include target-mq(xxl) {
      flex: 0 1200px;
      padding: 0;
    }
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 60px;
    text-align: center;
    color: $color-primary;

    @include target-mq(xxl) {
      margin-bottom: 30px;
    }
  }

  &__flex-container {
    display: flex;
    align-items: center;
  }

  &__image {
    flex: 1;
  }

  &__text {
    flex: 1;
  }
}
