.guest-name {
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-family: $font-family-roboto-slab;
  word-break: break-all;

  + .guest-name {
    margin-top: 10px;
  }

  &__number,
  &__text {
    font-weight: bold;
    font-size: 18px;
  }

  &__text {
    flex: 1;
  }

  &__delete-button {
    flex-basis: 36px;
    height: 36px;
    padding: 0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 26px;
    color: $color-white;
    background-color: $color-dark-green;
    transition:  background-color .3s;
    cursor: pointer;

    &:hover {
      background-color: $color-dark-green-hover;
    }
  }
}
