@use "icons-variables" as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('~/assets/#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?6o93br') format('truetype'),
  url('~/assets/#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6o93br') format('woff'),
  url('~/assets/#{$icomoon-font-path}/#{$icomoon-font-family}.svg?6o93br##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back-to-top {

  &::before {
    content: $icon-back-to-top;
  }
}

.icon-close {

  &::before {
    content: $icon-close;
  }
}

.icon-user-delete {

  &::before {
    content: $icon-user-delete;
  }
}

.icon-user-add {

  &::before {
    content: $icon-user-add;
  }
}

.icon-dropdown {

  &::before {
    content: $icon-dropdown;
  }
}

.icon-facebook {

  &::before {
    content: $icon-facebook;
  }
}

.icon-instagram {

  &::before {
    content: $icon-instagram;
  }
}

.icon-love-fireworks {

  &::before {
    content: $icon-love-fireworks;
    color: #d6a998;
  }
}

.icon-rings {

  &::before {
    content: $icon-rings;
    color: #d6a998;
  }
}

.icon-altar {

  &::before {
    content: $icon-altar;
    color: #d6a998;
  }
}

.icon-church {

  &::before {
    content: $icon-church;
    color: #d6a998;
  }
}
