@use "../general" as *;

.radio-button {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  height: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  + .radio-button {
    margin-top: 10px;
  }

  &:hover {

    input {

      & ~ .checkmark {
        background-color: $color-secondary-hover;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    background-color: $color-light-gray;
    border-radius: 50%;
    transition: background-color .3s;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-white;
    }
  }

  input {
    display: none;

    &:checked {

      & ~ .checkmark {
        background-color: $color-secondary;

        &:after {
          display: block;
        }
      }
    }
  }

  &--is-error {

    .checkmark {
      border: 1px solid $color-invalid;
    }
  }
}
